name: Metrics
on:
  push: { branches: ["main", "test"] }
  workflow_dispatch:
  schedule:
    # Runs every Monday at 6 AM
    - cron: "0 6 * * 1"
jobs:
  github:
    # Run this job only on scheduled events at 6 AM every Monday or on Manual trigger
    if: github.event.schedule == '0 6 * * 1' || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    steps:
      - name: Github Metrics
        uses: AjmalShajahan/metrics@test
        with:
          filename: metrics.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: header, metadata, activity #, community, repositories,
          # base_indepth: yes
          repositories: 200
          repositories_batch: 100
          repositories_skipped: ${{ vars.REPOSITORIES_SKIPPED }}
          config_order: base.header, languages, wakatime, achievements, base.activity
          config_timezone: Asia/Kolkata
          # plugin_isocalendar: yes
          plugin_languages: yes
          # plugin_languages_details: percentage #, bytes-size, lines ,
          # plugin_languages_sections: most-used, recently-used
          # plugin_languages_indepth: yes
          # plugin_languages_skipped: ${{ vars.PLUGIN_LANGUAGES_SKIPPED }}
          # plugin_languages_ignored: ${{ vars.PLUGIN_LANGUAGES_IGNORED }}
          # plugin_languages_threshold: 10
          # plugin_languages_limit: 8
          # plugin_languages_recent_days: 365
          # plugin_languages_recent_load: 1000
          # plugin_languages_analysis_timeout: 60
          # plugin_languages_analysis_timeout_repositories: 15
          repositories_affiliations: ""
          users_ignored: ${{ vars.USERS_IGNORED }}
          commits_authoring: ${{ vars.COMMITS_AUTHORING }}
          plugin_lines: yes
          plugin_lines_sections: base
          plugin_lines_delay: 30
          plugin_achievements: yes
          plugin_achievements_display: compact
          plugin_lines_skipped: ${{ vars.PLUGIN_LINES_SKIPPED }}
          # plugin_achievements_threshold: X
          plugin_wakatime: yes
          plugin_wakatime_token: ${{ secrets.WAKATIME_TOKEN }}
          plugin_wakatime_days: 7
          plugin_wakatime_sections: time, languages, languages-graphs, editors, os
          plugin_wakatime_limit: 10
          plugin_wakatime_url: https://wakatime.com
          plugin_wakatime_user: .user.login
          config_gemoji: yes
          output_action: gist
          committer_gist: ${{ secrets.GIST }}
          plugin_reactions: yes
          plugin_reactions_details: count
          # plugin_habits: yes
          plugin_notable: yes
          plugin_notable_from: all
          plugin_notable_indepth: yes
          plugin_notable_types: commit, pull_request, issue
          plugin_notable_skipped: ${{ vars.PLUGIN_NOTABLE_SKIPPED }}
          # plugin_topics: yes
          # plugin_followup: yes
          # plugin_followup_sections: user, repositories
          # plugin_followup_indepth: yes
          # plugin_followup_archived: no
          # debug: yes
