name: Metrics
on:
  schedule:
    - cron: "0 * * * *"
  push: {branches: ["main"]}
  workflow_dispatch:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Metrics
        uses: AjmalShajahan/metrics@master
        with:
          filename: metrics.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: header
          config_order: base.header, isocalendar, languages, wakatime, achievements
          config_timezone: Asia/Kolkata
          plugin_isocalendar: yes
          plugin_languages: yes
          plugin_languages_details: lines, percentage
          plugin_languages_sections: most-used , recently-used
          plugin_languages_indepth: true
#           plugin_languages_ignored: C#,
#           plugin_languages_threshold: 5
          #plugin_languages_limit: 8
          plugin_languages_recent_days: 7
          plugin_languages_recent_load: 1000
          #plugin_languages_analysis_timeout: 60
          #plugin_languages_analysis_timeout_repositories: 15
          commits_authoring: Ajmal S, AjmalShajahan, AjmalShajahan@users.noreply.github.com
          plugin_lines: yes
          plugin_achievements: yes
          plugin_achievements_display: compact
          #plugin_achievements_threshold: X
          plugin_wakatime: yes
          plugin_wakatime_token: ${{ secrets.WAKATIME_TOKEN }}
          plugin_wakatime_days: 7
          plugin_wakatime_sections: time, languages, languages-graphs, editors, os
          #plugin_wakatime_limit: 15
          plugin_wakatime_url: https://wakatime.com
          plugin_wakatime_user: .user.login
          config_twemoji: yes   
          #output_action: pull-request-squash
          output_action: gist
